.login {
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.loginb,
.registerb {
  font-weight: 700;
  margin: 18px auto;
  display: block;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 2px 2px 15px grey;
}

.loginb {
  background-color: #f50057;
  color: white;
  padding: 15px 112px;
}

.loginb:hover,
.registerb:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.registerb {
  background-color: white;
  color: black;
  padding: 15px 100px;
}

.login-logo {
  object-fit: contain;
  width: 150px;
  margin-top: 95px;
  transform: rotate(10deg);
}

.home {
  color: #f2f2f2;
  margin-bottom: 50px;
}

.btns {
  align-items: center;
}
